{% extends "realestate/natgas/natgasbase.html" %}

{% block title %}Estimated Natural Gas Bill Created and Saved to Database{% endblock title %}
{% block headertitle %}Estimated Natural Gas Bill Created and Saved to Database{% endblock headertitle %}

{% block content %}
<p>
    The estimated bill data is provided below. No changes should be needed but can be made below if necessary.
</p>
<form action="{% url 'realestate:natgasbillestimateedit' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type='hidden' value='{{ form.instance.pk }}' name='id'>
    {{ form.as_p }}
    <p><input type="submit" value="Save"></p>
</form>
{% endblock content %}